/* Style the toggle container */
body {
    min-width: 330px;
    min-height: 300px;
    background-color: #121212;
    
}


.logo img {
    width: 100px;
    padding-right: 20px;
}
.toggle-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

* {
    font-family: "Youtube sans", sans-serif;
}

/* Style the toggle button */
.toggle-button {
    appearance: none;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    width: 56px;
    height: 30px;
    border-radius: 34px;
    transition: background-color 0.2s;
}

/* Style the toggle button track */
.toggle-button::before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background: rgb(61, 60, 60);
    border-radius: 32px;
}

/* Style the toggle button thumb */
.toggle-button::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 28px;
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

/* Style the toggle button when it is turned on */
.toggle-button.on {
    background: #4caf50;
}

.toggle-button.on::before {
    background: #4caf50;
}

.toggle-button.on::after {
    transform: translateX(24px);
}
.label {
    color: white;
    font-size: 16px;
    padding-left: 20px;
}

.row {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    justify-content: space-between;
}

.title {
    color: white;
    font-size: 16px;
    padding-left: 20px;
}